# python==3.12

# good decorators implementation
tenacity
magentic

# general
requests
rich
tqdm

# ml project
scikit-learn
skrub

# dl project
tensorflow
torch

# huggingface
transformers
diffusers[torch]
datasets
peft
timm # image model